body{
	font-family:Arial;
}
.ui-widget-content { /*needs to be at the beginning, otherwise the slider background will be overwritten*/
	border: 1px solid #dddddd;
	background: #ffffff url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	color: #333333;
}
select.f_select {
	/* -webkit-appearance: none;  Removes default chrome and safari style, but also select triangle.... lets experiment a little bit more,,,*/
	border: 1px solid #CCCCCC;
    padding: 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    font-family:Arial;
}

input.f_text, textarea.f_textarea {
    border: 1px solid #CCCCCC;
    padding: 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    font-family:arial;
    font-size:1.0em;    
    border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

  .draggable { 
  width: 150px; 
  height: 200px; 
  padding: 0.5em; 
  position:relative;
  float:left;
  margin:10px;
  background-color:#ffffff;
  border: 1px solid #b0cbdc;
  cursor:move;
  }
 

.sortable { 
	padding: 5px;
	list-style-type: none; 
	-ms-touch-action:none;
	cursor:move;
	/*background-color:#006699;*/
	
}
.sortable li{
	border: 1px solid #b0cbdc;
	padding:5px;
	background-color:#ffffff;
}

/*search box */
.search{
	/*border-bottom: 1px solid #b0cbdc;*/
	width:100%;
}
/* list of diagnoses container*/
.ddx_left{
	float:left;
	position:relative;
	width:250px;
	height:200px;
	overflow: scroll;
	overflow-x: hidden;
}
/* vertical slider for confidence layout*/
.conf_slider{
	position:relative;
	height:180px;
	width:10px;
	cursor: pointer;
	float: right;
	background: linear-gradient(top, #088A29 0%, #FE2E2E 100%, #ffffff 100%);
	background: -moz-linear-gradient(top, #088A29 0%, #FE2E2E 100%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #088A29 0%, #FE2E2E 100%, #ffffff 100%);
	background: -ms-linear-gradient(top, #088A29 0%, #FE2E2E 100%, #ffffff 100%);
	background: -o-linear-gradient(top, #088A29 0%, #FE2E2E 100%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#088A29, endColorstr=#ffffff,GradientType=1);
}

/* footer with nav icons and concept map preview */
.footer{
	float:left;
	position:absolute;
	bottom:0;
	vertical-align:bottom;
	width:100%;
	height: 30px;
	/*background-color:#006699;*/
	font-size:1.3em;
}

.navfooter{
	float:right;
	position:absolute;
	/*vertical-align:text-bottom;*/
	bottom:0;
	right:0;
	width:150px;
}

/*.cm-preview{
	float:right;
	position:relative;
	bottom:0;
	width:55px;
	border: 1px solid #b0cbdc;
}*/

@font-face {
  font-family: 'crt';
  src: url('font/crt.eot?9585197');
  src: url('font/crt.eot?9585197#iefix') format('embedded-opentype'),
       url('font/crt.woff?9585197') format('woff'),
       url('font/crt.ttf?9585197') format('truetype'),
       url('font/casus.svg?9585197#crt') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "crt";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-circle:before { content: '\e805'; } /
.icon-circle-empty:before { content: '\e806'; } 

.icon-circle-tier0:before { content: '\e805'; color:#C2C2C2; font-size: 0.8em;} 
.icon-circle-tier1:before { content: '\e805'; color:#088A29; font-size: 0.8em;} /* color:#088A29;*/
.icon-circle-tier2:before { content: '\e805'; color:#81F79F; font-size: 0.8em;} 
.icon-circle-tier3:before { content: '\e805'; color:#CEF6CE; font-size: 0.8em;} 
.icon-circle-tier4:before { content: '\e84c'; color:#088A29; font-size: 0.8em;} 
.icon-attention0:before { content: '\e8d8'; color:#C2C2C2; font-size: 0.8em; } 
.icon-attention1:before { content: '\e8d8'; color:#D60000; font-size: 0.8em; } 
.icon-trash-1:before { content: '\e872';  color:#000000; font-size: 0.8em; float: right;} /*color:#088A29;*/
.icon-ok2:before { content: '\e804'; color:#088A29; font-size: 0.8em; float: right;}
.icon-ok1:before { content: '\e804'; color:#CEF6CE; font-size: 0.8em;}
.icon-upload-off:before { content: '\e81a'; color:#C2C2C2; font-size: 1.3em;}
.icon-upload-on:before { content: '\e81a'; color:#000000; font-size: 1.3em;}/*color:#088A29;*/
.icon-user-md:before { content: '\e8ef'; color:#000000; font-size: 1.3em;} /*color:#088A29;*/
.icon-users:before { content: '\e8f8'; color:#000000; font-size: 1.3em;} /*color:#088A29;*/
.icon-edit:before { content: '\e86b'; font-size: 1.3em;}
.icon-list-alt:before { content: '\e907';}
.icon-list-on:before { content: '\e907'; color:#000000;} /*color:#088A29;*/
.icon-list-off:before { content: '\e907'; color:#C2C2C2;}
.icon-file-pdf:before { content: '\e8d9'; font-size: 1.3em;}
.icon-print:before { content: '\e911'; font-size: 1.3em;} 
.icon-help-circled:before { content: '\e858'; } 
.icon-sitemap:before { content: '\e815';font-size: 0.8em;}
.icon-video:before { content: '\e84a'; font-size: 0.8em;} 
.icon-plus-circled:before { content: '\e851'; } 
.icon-floppy:before { content: '\e801'; }s

/* end i-icons code */

/*concept map */
.canvas{
	/*width:300px;
	height:300px;*/
	width:400px; /* TODO: the tabs has a relative width, therefore, we have to make this relative, too. But 100% -> 100px */
	height:200px;
	/*background-color:#ffeeee; */
	border-color: #CCCCCC; /*#b0cbdc;*/
	border-style: solid;
	border-width: 1px;	
	position:absolute;
	bottom:30px;
	left: 5px;
	
}
/*
.canvascontainer{
	position:relative;
}*/

.newElemContainer{
	position:abolute;
	float:right;
	top:0px;
	right:0px;
	width:50px;
}
.newElem{
	width:70px;
	height:20px;
	line-height:20px;
  	font-size:0.7em;
  	font-family:arial;
  	position:relative;
 	float:left;
 	text-align:center;
 	border: 1px solid #cccccc;
}
.newHyp{
	background-color: #ffffff; /*#B7CDDC;*/
}

.newFind{
	background-color: #ffffff; /*#99CC99;*/
}

.newMng{
	background-color:#ffffff; /*#FFFF99;*/

 }

.newDiagnStep{
	background-color: #ffffff; /*#F6E3CE;*/
}

/* tabs elements....*/
.cr-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .1em;
	background-color:#ffffff;
	font-size: 0.7em;
	float:left;
	width:35%;
	height:300px;
	font-family:Arial;
}
.cr-tabs .cr-tabs-nav {
	margin: 0;
	padding: .1em .1em 0;
	height:50px;
}
.cr-tabs .cr-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.cr-tabs .cr-tabs-nav .cr-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.cr-tabs .cr-tabs-nav cr.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.cr-tabs .cr-tabs-nav li.cr-tabs-active .cr-tabs-anchor,
.cr-tabs .cr-tabs-nav li.cr-state-disabled .cr-tabs-anchor,
.cr-tabs .cr-tabs-nav li.cr-tabs-loading .cr-tabs-anchor {
	cursor: text;
}
.cr-tabs-collapsible .cr-tabs-nav li.cr-tabs-active .cr-tabs-anchor {
	cursor: pointer;
}
.cr-tabs .cr-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-widget-header {
	border: 1px solid #CCCCCC; /*#b0cbdc;*/
	background: #ffffff url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #000000 /*#006699*/;
	font-weight: bold;
}

body .ui-tooltip {
	border-width: 1px;
	font-family:arial;
	font-size:0.8em;
}

.ui-widget {
    font-family: arial;
    font-size: 0.8em;
    decoration:none;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000000;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #000000;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #CCCCCC;
    background: #CCCCCC url("images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50%;
    font-weight: bold;
    /*color: #EB8F00;*/
 }
.custom-combobox {
    position: relative;
    display: inline-block;
    /*display:none;*/
  }
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
  
  .ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #000000; /*#006699;*/
	background: #ffffff url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
	/*font-weight: bold;*/
	color: #000000; /*#006699;*/
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #000000; /*#006699;*/
	text-decoration: none;
	font-weight: normal;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
   /* border: 1px solid #CCC;
    background: #F6F6F6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50%;
    font-weight: bold;
    color: #1C94C4;*/
    font-weight: normal;
    color: #000000;
    font-family:arial;
}
  .ui-autocomplete {
    max-height: 200psx;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  
  .msg{
  	color:red;
  	position:absolute;
	float:left;
	z-index:99;
	bottom:0;
	vertical-align:bottom;
  }
  
 /* concept map */
.mylabel{
	width:50px;
	background-color:#cccccc;
	/*font-size:0.4em;*/
	overflow:hidden;
}

.myrect{
	overflow:hidden;
}

.listdialog{
	/*visibility:hidden;*/
	width:180px; 
	height:30px; 
	position:absolute;
	background-color:#cccccc";
}
