 
.chartbody{
	margin-left:15px;
	margin-top:15px;
	font-family:Arial;
	font-size:0.9em;
}

.chartbody_sm{
	margin-left:5px;
	margin-top:5px;
	font-family:Arial;
	font-size:0.9em;
}

.resourcesBody{
	margin-left:0px;
	margin-top:0px;
	font-family:Arial;
	font-size:0.9em;	
}

a{
	text-decoration:none;
	color:#006699 !important;
}
a:focus{outline:none !important;}

.portfoliodiv{
  width: 200px; 
  height: 200px; 
   font-size:0.8em;  
  position:relative;
  float:left;
  margin:10px;
  background-color:#ffffff;
  border: 1px solid #b0cbdc;
  /*cursor:move;*/	
}

.header{
	background-color:#cccccc;
	padding: 5px; 
	width: 190px;
	font-size:1.0em; 
	font-weight:bold; 
	
}

.plainList{
	padding:5px;
	list-style-type: none; /*icon could be liststyles? */
}

.portfsearch{
	position:absolute;
	float:right;
	top:5;
	right:0;
	width:200px;
	overflow:hidden;
	/*background-color:#cccccc;*/
}

.chart{
	/*width:280px;*/
	position:relative;
}
.chart_header{
	font-size:0.8em;
	/*width:280px;*/
}
.chart_container{
	width:250px;
	float:left;
	/*height:150px;*/
}


.displaychart_0{
	display:none;
}

.displaychart_1{
	display:block;
	width:280px;
	position:relative;
	float:left;
}

.displaychart_2{
	width:150px;
	height:75px;
}

.svgsmall{
	width:220px !important;
	height:110px !important;
}


.chartbox{
	margin-bottom:10px;
}

.chartsummary{
	float:left;
	width:80%;
	margin-left:20px;
	
}
.chartbox_indiv{
	width:300px;
	height:100px;
}

.chartbox_cont{
	float: left;
	min-height:250px;
	width:300px;
	position:relative;
	margin-left:10px;
}
.chart_footer{
	margin-left:10px;
}

.chart rect {
    fill: steelblue;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-size: 8px;
  }
  
  text {
            font-size: 8px !important;
        }


/*low score */
/*.score_0{
	content: "\f00c";
	color:red;
}
*/
/*no score, because nothing done, red cross*/
.score_0:before{
	content: "\f00d";
	color:red;
}

/*medium score, yellow check */
.score_1:before{
	content: "\f00c";
	color:yellow;
}

/*high score, green check */
.score_2:before{
	content: "\f00c";
	color:green;
}

/*score display as circles with different colors*/
.overallscore_0:before{
	content: "\f111";
	color:red;
}

.overallscore_1:before{
	content: "\f111";
	color:yellow;
}

.overallscore_2:before{
	content: "\f111";
	color:green;
}

.nvd3.nv-noData{
	font-size:10px !important;
}

.nv-bar{
	fill:#006699 !important;
	stroke:#006699 !important;
}

.chart_sm{
	height:120px;
}

.legend_my:before{
	content: "\f0c8";
	/*background-color:#006699;*/
	color:#006699;
}


.legend_myorg:before{
	content: "\f0c8";
	color:#2ca02c;
}

.legend_peer:before{
	content: "\f0c8";
	color:orange;
}

.perfstatus {
	display: inline-block;
	/*width: 60px;
	height: 11px;*/
	width: 4.8em;
	height: 1.3em;
	/*border: solid 1px #333333;*/
	margin-top: 0.3em;
	margin-right: 0.2em;
	background-color: none;
	border:0.10em solid #c2c0c1;
	-moz-border-radius: 0.1em;
	border-radius: 0.1em;
	cursor:help;
	vertical-align: middle;
}

.charts_tip{
	float:left;
	position:relative;
	margin-left:20px;
}

.tip_-1, .tip_{
	display:none;
}


.perfstatus .success {
     background-color: #4e8443;
     height: 100%;
}

.sqhit{
	background-color:yellow;
}

.resourceslist{
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}

.chart_0{
    display:none;
}

.chart_1{
    display:block;
}

.chart_2{
    display:none;
}
