 
.chartbody{
	margin:5px;
	font-family:Arial;
}

a{
	text-decoration:none;
	color:#006699 !important;
}
a:focus{outline:none !important;}

.portfoliodiv{
  width: 200px; 
  height: 200px; 
   font-size:0.8em;  
  position:relative;
  float:left;
  margin:10px;
  background-color:#ffffff;
  border: 1px solid #b0cbdc;
  /*cursor:move;*/	
}

.header{
	background-color:#cccccc;
	padding: 5px; 
	width: 190px;
	font-size:1.0em; 
	font-weight:bold; 
	
}

.plainList{
	padding:5px;
	list-style-type: none; /*icon could be liststyles? */
}

.portfsearch{
	position:absolute;
	float:right;
	top:5;
	right:0;
	width:200px;
	overflow:hidden;
	/*background-color:#cccccc;*/
}

.chart{
	width:280px;
	position:relative;
}
.chart_header{
	font-size:0.8em;
	width:280px;
}
.chart_container{
	width:90%;
	/*height:150px;*/
}

.displaychart_0{
	display:none;
}

.displaychart_1{
	display:block;
	width:280px;
	position:relative;
	float:left;
}

.chartbox{
	margin-bottom:20px;
}

.chart rect {
    fill: steelblue;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-size: 8px;
  }
  
  text {
            font-size: 8px;
        }

  .chart .current {
    fill: green;
    cursor: pointer;
  }
  
  .nvd3 .nv-axis {
    pointer-events:none;
    opacity: 1;
}

.nvd3 .nv-axis path {
    fill: none;
    stroke: #000;
    stroke-opacity: .75;
    shape-rendering: crispEdges;
}

.nvd3 .nv-axis path.domain {
    stroke-opacity: .75;
}

.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 0;
}

.nvd3 .nv-axis line {
    fill: none;
    stroke: #e5e5e5;
    shape-rendering: crispEdges;
}

.nvd3 .nv-axis .zero line,
    /*this selector may not be necessary*/ .nvd3 .nv-axis line.zero {
    stroke-opacity: .75;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: bold;
}

.nvd3 .x  .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
    text-anchor: middle
}

.nvd3 .nv-axis.nv-disabled {
    opacity: 0;
}