.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}


.group-container {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    background-color: WhiteSmoke;
    font-size: 12px;
    cursor:move;
}


/** ELEMENT POSITIONS **/
#dragDropWindow1 { top:36px;left:50px; }
#dragDropWindow2 { top:150px; left:110px; }
#dragDropWindow3 { top:70px; left:100px; }
#dragDropWindow4 { top:106px; left:60px; }

#container1 { left:20px;top:50px; }
#container2 { left:250px;top:50px; }

.group-container.collapsed {
    height:40px;
}

.node-collapse {
    position:absolute;
    top:5px;
    right:5px;
    background-color:white;
    padding:1px;
    cursor:pointer;
    font-size:13px;
    width:20px;
    height:20px;
    border-radius: 50%;
    text-align:center;
    display:block;
}


.node-collapse:after {
    content:"-";
}

.group-container.collapsed .node-collapse:after {
    content:"+";
}

.jsplumb-connector path {
    stroke-width:3;
}

.jsplumb-group-collapsed .w, .jsplumb-group-collapsed ul, .jsplumb-group-collapsed .container, .jsplumb-group-collapsed .name {
    display:none;
}

.jsplumb-drag-hover {
    outline:4px solid cornflowerblue;
}

/*.katavorio-ghost-proxy {
    outline:4px solid red;
}*/

.title {
    background-color:#ABC1BB;
    padding-right:16px;
    padding-left: 5px;
    font-size:12px;
    height:30px;
}
.window {
    position:absolute;
    width:80px;
    height:30px;
    border:1px solid black;
    font-size:12px;
    border-radius:3px;
    text-align:center;
    background-color:WhiteSmoke;
    opacity:0.7;
    z-index:10;
    color:black;
    cursor:move;
}

.window:hover {
    background-color:#629f8d;
}


.drag-drop-demo a, .drag-drop-demo a:visited {
    color:#057D9F;
}

.drag-drop-demo a:hover {
    color:orange;
}


/** DRAG/DROP CLASSES **/
.dragActive { border:2px dotted orange; }
.dropHover { border:1px dotted red; }


path, .jsplumb-endpoint { 
	cursor:pointer; 
}
